{% extends 'mission/base.html' %}

{% block body %}
    
    
<!DOCTYPE html>
<html>

<head>
    <title>expアプリ</title>
</head>

<body>

    <!-- <a href="{% url 'expmain' %}">exp Main</a>
    <a>&emsp;</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Log Out</a>
    <a>&emsp;</a>
    <a href="{% url 'mission-home' %}">Mision-Home</a>
    <a>&emsp;</a>
    {% else %}
    <a href="{% url 'login' %}">Log In</a>
    <a>&emsp;</a>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    
    {% if profile.get_kubun_display == '経営者' %}
        <a href="{% url 'management' %}">メンバー管理</a>
    {% endif %}
         -->


    <h1>マイページ</h1>

    {% if user.is_authenticated %}
    こんにちは<b>{{ profile.user.username }}さん</b>。
    <br>
    <!-- {% if profile %} -->
    区分（経営者/従業員/管理者）：<b>{{ profile.get_kubun_display }}</b>
    <br>
    経験値：<b>{{ profile.exp_total }}</b> exp
    <br>
    <br>
    <br>
    

    <b>【自分で作成したミッション】 ／</b><a href="{% url 'join-list' %}">【参加中/参加したミッション】</a>

    {% for mission in my_missions reversed %}
    <hr>
    <h1><a href="{% url 'mission-detail' mission.id %}">{{ mission.title }}</a></h1>
    <ul>
        <li>投稿時間：<b>{{ mission.date_posted }}</b></li>
        <li>依頼者：<b>{{ mission.author }}</b></li>
        <li>達成状況：<b>{{ mission.get_mission_flg_display }}</b></li>
        <li>達成報酬EXP：<b>{{ mission.success_exp }}</b>exp</li>
        <li>いいね数：<b>{{ mission.good_count }}</b></li>
        <li>参加人数：<b>{{ mission.participants }}</b>/{{ mission.participants_limit }} 人</li>
    </ul>
    {% empty %}
        <hr>
        <p>データがありません。</p>
    {% endfor %}
    <br>
    <!-- {% else %}
    <p>データがありません。</p>
    {% endif %} -->
    {% else %}
    <h3>loginしてください。</h3>
    {% endif %}
    

</body>

</html>
{% endblock body %}
