{% extends 'mission/base.html' %}


{% block body %}
<br>   
<br>
<h1>メンバー管理</h1>
<table border="1">
    <tr>
        <th>名前</th><th>区分</th><th>経験値</th>
        <th>ミッション作成数</th><th>マイミッション達成数</th><th>ミッション参加数</th>
        <th>参加ミッション達成数</th><th>感謝した回数</th><th>感謝された回数</th>
    </tr>
    {% for profile in all_profile %}
    <tr>
        <th>{{ profile.user.username }}</th><td>{{ profile.get_kubun_display }}</td><td>{{ profile.exp_total }}</td>
        <td>{{ profile.mission_create_count }}</td><td>{{ profile.my_success_count }}</td><td>{{ profile.join_count }}</td>
        <td>{{ profile.team_success_count }}</td><td>{{ profile.thanks_count }}</td><td>{{ profile.thanked_count }}</td>
    </tr>  
    {% endfor %} 
</table>
<form action="{% url 'reset' %}"> 
    {% csrf_token %}
    <input type="submit" value="リセット">
</form>
{% endblock body %}
    

