{% extends 'mission/base.html' %}
{% block body %}

<!-- {% if user.is_authenticated %} -->
<h1>ミッション一覧</h1>
<!-- {% endif %} -->

<div>

    <form action="{% url 'mission-create' %}">
        <button type="submit" class="btn btn-success">New MISSION</button>
        <!-- <button type="submit">New MISSION</button> -->
    </form>

    <form class="search" action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>

    {% for mission in missions %}
        {% if mission.get_approval_display == '承認済み' %}
            <hr>
            <div class='container'>
                <div class="alert alert-success" role="alert">
                    
                    <h2 class="text-left"><a href="{% url 'mission-detail' mission.id %}">{{ mission.title }}</a></h2>
                    <p class="text-left">依頼者：<b>{{ mission.author }}</b></p>
                    <p class="text-left">達成状況：<b>{{ mission.get_mission_flg_display }}</b></p>
                    <p class="text-left">達成報酬EXP：<b>{{ mission.success_exp }}</b>exp</p>
                    <p class="text-left">いいね数：<b>{{ mission.good_count }}</b></p>
                    <p class="text-left">参加人数：<b>{{ mission.participants }}</b>/{{ mission.participants_limit }} 人</p>
                    <p class="text-right"><b>{{ mission.date_posted }}</b></p>
                
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_previous %}
        <a href="{% url 'mission-home' %}">&laquo;first</a>
        <a href="?page={{page_obj.previous_page_number}}">&laquo;prev</a>
    {% endif %}
        <span>[ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ]</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">next&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
        
    
</div>
{% endblock body %}
