{% extends 'mission/base.html' %}

{% block body %}

<center>
    <h1>「{{ object.title }} 」<small>依頼者:</small><span>{{ object.author }}</span></h1>
    <p>{{ object.date_posted|date:'Y-m-d P' }}</p>
    <p> {{ object.content }}</p>
    <hr>
    <p>獲得EXP：<b>{{ object.success_exp}}</b></p>
    <p>達成状況：<b>{{ object.get_mission_flg_display }}</b></p>
    <p>いいね！：<b>{{ object.good_count}}</b></p>
    <p>参加人数：<b>{{ object.participants }}</b>人</p>
    {% if object.participants > 0 %}
    <p>参加者：<b>
    {% for item in mission.participants_list.all %}
        {% if forloop.last %}
            {{ item.user }}さん 
        {% else %}
            {{ item.user }}さん、
        {% endif %}
    {% endfor %}
        </b></p>
    {% endif %}
        
    
    {% if messages %}      
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %}      
    {% endif %}           
</center>


{% if object.author != request.user and object.mission_flg == 0 %}
    <form action="{% url 'mission-good' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="いいね">
    </form>
    <p></p>     
    <form action="{% url 'mission-join' object.pk %}">
        {% csrf_token %}
        {% if participant in mission.participants_list.all %}
            <input type="submit" value="脱退">
        {% else %}
            <input type="submit" value="参加">
        {% endif %}      
    </form>
{% endif %}

{% if request.user == object.author and object.mission_flg == 0 %}
    <form action="{% url 'mission-success' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="ミッションクリア">
    </form>
    <form action="{% url 'mission-update' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="Mission内容修正">
    </form>
{% endif %}



{% endblock body %}