{% extends 'mission/base.html' %}

{% block body %}


<div>
    <h1>ミッション作成</h1>
    <hr>
    
    {% if profile.exp_total <= 0 %}
        <p>※所有EXPが足りません</p>
        <p>現在所有EXP：{{ profile.exp_total }}exp</p>
    {% endif %}      
        
</div>
{% if profile.exp_total > 0 %}
    <!-- <div>
        <table>
            <form method='POST' role="form" action="#">
                {% csrf_token %}
                <tr><th>タイトル</th><td>{{ form.title }}</td></tr>
                <tr><th>内容</th><td>{{ form.content }}</td></tr>
                <tr><th>参加人数制限</th><td>{{ form.participants_limit }}人</td></tr>
                <tr><th></th><td><input type="submit" value="作成"></td></tr>
            </form>
        </table>
    </div> -->

    <form method='POST' role="form" action="#">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">タイトル</label>
            <p>{{ form.title }}</p>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">内容</label>
            <p>{{ form.content }}</p>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">参加人数制限</label>
            <p>{{ form.participants_limit }}人</p>
        </div>
        <button type="submit" class="btn btn-primary">提出</button>
    </form>


{% endif %}

{% endblock body %}