{% extends 'mission/base.html' %}

{% block body %}
    
<h1>サンクス一覧</h1>
<br>
<form action="{% url 'thanks-create' %}">
    <input type="submit" value="New THANKS">
</form>

<form action="" method="get">
    <input name="query" value="{{ request.GET.query }}" type="text">
    <button type="submit">検索する</button>
</form>

{% for thanks in thanks_list %}
{% if thanks.get_approval_display == '承認済み' %}
<hr>
<ul>
        <b>{{ thanks.giver }}</b>さんから、
        <b>
            {% for recipient in thanks.recipients.all %}
                {% if forloop.last %}
                    {{ recipient.user }}さん
                {% else %}
                    {{ recipient.user }}さん、
                {% endif %}   
            {% endfor %} 
        </b> へ、ありがとう！！ 
    <p>内容：{{ thanks.content }}</p>
    <p><a href="{% url 'thanks-detail' thanks.pk %}">詳細</a></p>
</ul>
<p>時間：{{ thanks.date_posted }}</p>
{% endif %}
{% endfor %}
    

{% endblock body %}
    